<%= render partial: 'shared/navbar' %>

<h1 style="color:purple; margin-top: 30px">Pending bookings</h1>


  <% @bookings.each do |booking| %>
    <% puppy = Puppy.find(booking.puppy_id) %>

      <div class="card-product-booking" style="border-radius: 8px;">

          <% if puppy.photo.attached? %>
            <div class="image">
              <%= cl_image_tag puppy.photo.key,height: 300, width: 400, crop: :fill, class: "img-rounded" %>
            </div>
          <% else %>
              <div class="image">
              <%= cl_image_tag "oxmhEgrazrb9AQA8uxakNpyy", height: 300, width: 400, crop: :fill, class: "img-rounded" %>
            </div>
          <% end %>

          <div class ="redlight-green">
            <%= if booking.bookrequest == false then "ðŸ›‘ Waiting for owner confirmation ðŸ›‘" else " ðŸ¶ Booking Confirmed! ðŸ¶" end %>
          </div>


                <div class="card text-white bg-dark mb-3" style="max-width: 50rem; height: 345px;">
                          <div class="card-header" style="color:white; font-family: 'Poppins'; font-weight: bold; font-size: 35px;"><%= puppy.name %></div>
                        <div class="card-body">
                            <h6 class="card-title"><strong style="color:gray;">Starting date: </strong><%= booking.startdate %></h6>
                            <h6><strong style="color:gray;">Ending date: </strong><%= booking.enddate %></h6>
                            <p class="card-text"><strong style="color:gray;">Number of days: </strong><%= (booking.enddate - booking.startdate).to_i + 1%> days</p>
                            <p class="card-text"><strong style="color:gray;">Price per day: </strong><%= puppy.price.to_i %> â‚¬/day</p>
                            <p class="card-text"><strong style="color:gray;">Total: </strong><%= ((booking.enddate - booking.startdate).to_i) * puppy.price.to_i %> â‚¬</p>


                            <p><% if policy(booking).destroy? %>
                            <%= link_to "Cancel booking request", booking_path(booking), method: :delete, class: "btn btn-danger" %>

                      <!--                     <%= link_to booking_path(booking), method: :delete do %>
                                            <h3>Cancel booking request</h3>
                                          <% end %> -->
                                        <%end%>
                                    </p>
                      </div>
                    </div>

      </div>



  <%end%>

  <%= render 'shared/footer' %>
