<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">
    <img src="https://cdn.pixabay.com/photo/2018/05/08/21/27/airbnb-3383993_960_720.png" />
</a>

<%= form_tag(puppies_path, :method => "get",
    class: 'navbar-form navbar-left') do %>
  <div class="input-group">
    <%= search_field_tag :search, params[:search], placeholder: "Search for the cutest puppy", class: "form-control" %>
    <div class="input-group-btn">
      <%= button_tag "Search", :style => "background-color: #FF5A5F", :class => 'btn btn-primary glyphicon glyphicon-search',:name => nil%>
    </div>
  </div>
<% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if !current_user %>
        <li class="nav-item active">
          <a class="nav-link" href="users/sign_in">Sign in</a>
        </li>
      <% else %>
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Dashboard</a>
        </li>
      <% end %>
      <li class="nav-item dropdown">
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://cdn1-www.dogtime.com/assets/uploads/gallery/boxer-puppies/boxer-puppy-1.jpg" />
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="users/show">Profile</a>
          <!-- <a class="dropdown-item" href="users/puppies">My puppies</a> -->
          <p class="dropdown-item"><%= link_to 'My puppies', user_puppies_path(current_user.id) %></p>
          <a class="dropdown-item" href="users/bookings">My bookings</a>
          <p class="dropdown-item"><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></p>
        </div>
      </li>
    </ul>
  </div>
</div>
