<%= render 'shared/navbar' %>

<div class="pageindex">
    <div class="grid-container">
      <% @puppies.each do |puppy| %>
          <div class="zoom">
            <div class="profile profile-smallimg">

                <%=link_to puppy_path(puppy), class: "image-container" do %>
                        <% if puppy.photo.attached? %>
                            <div class="profile__image"> <%= cl_image_tag puppy.photo.key,height: 300, width: 400, crop: :fill %></div>
                        <% else %>
                            <div class="profile__image"><%= cl_image_tag "oxmhEgrazrb9AQA8uxakNpyy", height: 300, width: 400, crop: :fill %> </div>
                        <% end %>
                <%end%>



                <div class="profile__info">
                  <h3 id="Titlecard"><%= puppy.name %></h3>
                  <p class="Descriptioncard"><%= puppy.age %> years old</p>
                </div>


                <div class="breed">
                  <p class="typecard"><i class="fas fa-paw" style="font-size:28px; color:#693CB7;"></i>  Breed</p>
                  <h5 class="breed"><%= puppy.breed %></h5>
                </div>

                <div class="dailyprice">
                  <p class="typecard"><i class="fas fa-tags"style="font-size:28px; color:#693CB7;"></i> Daily price:</p>
                  <h5 class="price"><%= puppy.price %> € per day</h5>
                </div>


                <div class="profile__cta"> <%=link_to "Book #{puppy.name}",puppy_path(puppy),class: "button" %></a></div>
            </div>
          </div>
      <%end%>
    </div>

    <div
      id="map"
      style="width: 50%;
      height: 600px;
      margin-top: 60px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>

</div>

<%= render 'shared/footer' %>

