<%= render 'shared/navbar' %>

<div class="pageindex">
    <div class="grid-container">

      <% @puppies.each do |puppy| %>
      <div class="card-trip">
        <%=link_to puppy_path(puppy), class: "image-container" do %>
          <% if puppy.photo.attached? %>
            <div class="image">
              <%= cl_image_tag puppy.photo.key,height: 300, width: 400, crop: :fill, class: "img-rounded" %>
            </div>
          <% else %>
            <div class="image">
              <%= cl_image_tag "oxmhEgrazrb9AQA8uxakNpyy", height: 300, width: 400, crop: :fill, class: "img-rounded" %>
            </div>
          <% end %>


           <h1 id="puppiename"><%= puppy.name %>

            <div>
                <% if policy(puppy).edit? %>
                  <%= link_to edit_puppy_path(puppy.id) do %>
                    <i class="fas fa-edit" style="font-size:15px"></i>
                  <% end %>
                <% end %>

                <% if policy(puppy).destroy? %>
                  <%= link_to puppy_path(puppy.id), method: :delete do %>
                    <i class="fas fa-trash-alt bin" style="font-size:15px"></i>
                  <% end %>
                <%end%>
            </div>
          </h1>


        <% end %>
      </div>
      <%end%>
    </div>

    <div
      id="map"
      style="width: 50%;
      height: 600px;
      margin-top: 60px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>

</div>

<%= render 'shared/footer' %>

