<%= render 'shared/navbar' %>

<div class="pageindex">
    <div class="grid-container">

      <% @puppies.each do |puppie| %>
      <div class="card-trip">
        <%=link_to puppy_path(puppie), class: "image-container" do %>
          <% if puppie.photo.attached? %>
            <div class="image">
              <%= cl_image_tag puppie.photo.key %>
            </div>
          <% else %>
            <div class="image"></div>
          <% end %>
          <h1 id="puppiename"><%= puppie.name %>
            <%= link_to edit_puppy_path(puppie.id) do %>
              <i class="fas fa-edit"></i>
            <%end%>
            <%= link_to puppy_path(puppie.id), method: :delete do %>
              <i class="fas fa-trash-alt bin"></i>
            <%end%>
          </h1>
        <% end %>
      </div>
      <%end%>
    </div>

    <div
      id="map"
      style="width: 50%;
      height: 600px;
      margin-top: 60px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>

</div>

