<<<<<<< HEAD
<h1>Puppies#index</h1>

<p>Find me in app/views/puppies/index.html.erb</p>



=======

<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers='<%= @puppies_loc.to_json %>'
  data-mapbox-api-key="<%= ENV['pk.eyJ1Ijoicnp1YmVua28iLCJhIjoiY2s2a25penU1MDVuaDNzcnJkMjZrZ3NoYiJ9.FViL4WDPlVmmbPqN9Y2V4Q'] %>"
></div>

<%= form_tag(search_page_path, :method => "get",
    class: 'navbar-form navbar-left') do %>
  <div class="input-group">
    <%= search_field_tag :search, params[:search], placeholder: "Search for a puppy", class: "form-control" %>
    <div class="input-group-btn">
      <%= button_tag "Search", :class => 'btn btn-primary glyphicon glyphicon-search',:name => nil%>
    </div>
  </div>
<% end %>
>>>>>>> 084970f3a4b7828d3d7de056377f8fe8d3f9163f
