<%= render partial: 'shared/navbar' %>

<h1 style ="color:purple; margin-top: 20px; margin-bottom:20px;"> Pending booking requests </h1>

 <% @booking.each do |booking| %>
    <% puppy = booking.puppy %>

      <div class="animated fadeInLeftBig delay-2s card-product">
        <%=link_to puppy_path(puppy), class: "image-container" do %>
          <% if puppy.photo.attached? %>
            <div class="animated fadeInLeftBig image">
              <%= cl_image_tag puppy.photo.key,height: 300, width: 400, crop: :fill, class: "img-rounded" %>
            </div>
          <% else %>
            <div class="image">
              <%= cl_image_tag "oxmhEgrazrb9AQA8uxakNpyy", height: 300, width: 400, crop: :fill, class: "img-rounded" %>
            </div>
          <% end %>
        <% end %>
      <div class="card-product-infos">
        <h3><%= puppy.name %></h3>
        <h2 style="font-size: 16px;">From: <%= booking.startdate %></h2>
        <h2>Until: <%= booking.enddate %><h2>
        <h2> Number of days : <%= (booking.enddate - booking.startdate).to_i + 1 %></h2>
      </div>

        <div class="confirm-button">
          <% if booking.bookrequest == false %>
            <%= link_to "Confirm this booking", edit_booking_path(booking) ,class: "btn btn-danger" %>
          <% else %>
            <%= link_to "Booking confirmed", edit_booking_path(booking) ,class: "btn btn-success" %>
<!--             <p class="btn btn-success">Booking confirmed</p> -->
          <%end%>
        </div>
      </div>
    <%end%>


<h1 style ="color:purple; margin-top: 20px; margin-bottom:20px;" >My listed puppies</h1>


    <% @puppies.each do |puppy| %>
      <div class="card-product-mypuppies">
        <%=link_to puppy_path(puppy), class: "image-container" do %>
          <% if puppy.photo.attached? %>
            <div class="image">
              <%= cl_image_tag puppy.photo.key,height: 300, width: 400, crop: :fill, class: "img-rounded" %>
            </div>
          <% else %>
            <div class="image">
              <%= cl_image_tag "oxmhEgrazrb9AQA8uxakNpyy", height: 300, width: 400, crop: :fill, class: "img-rounded" %>
            </div>
          <% end %>
        <% end %>

           <div class="card-product-infos">
            <h1 class="mypuppy-name"><%= puppy.name %></h1>
            <p>
              <% if policy(puppy).edit? %>
                <%= link_to edit_puppy_path(puppy.id) do %>
                  <h3 class="btn btn-default">Change puppy details</h3>
                <% end %>
              <%end%>
            </p>
             <p>
              <% if policy(puppy).destroy? %>
                <%= link_to puppy_path(puppy.id), method: :delete do %>
                  <h3 class="btn btn-default">Delete <%= puppy.name %></h3>
                <% end %>
              <%end%>
            </p>
          </div>

<div style="margin: auto; text-align: center;">

        <% bookingspuppy  =[] %>

        <% bookingsp = @allbookings.where(puppy_id: puppy.id) %>
        <% if bookingsp.count > 1 then %>
          <% bookingsp.each do |booking| %>
            <% bookingspuppy << booking %>
          <% end %>
        <% elsif bookingsp.count == 1 %>
          <%bookingspuppy << bookingsp[0]%>
        <%end%>

                 <%= month_calendar events: bookingspuppy do |date,bookings| %>
                  <%= date.day %>
                <% bookings.each do |booking| %>
                </div>
                <% end %>
              <% end %>
  </div>
        </div>

        <%end%>

<%= render 'shared/footer' %>
