<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  New puppy
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
    <%= simple_form_for(@puppy) do |f| %>
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">New Puppy</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= image_tag("https://cdn.jewishboston.com/uploads/2018/08/iStock-928321242-729x486.jpg", class: "img-create-modal") %>
        <%= f.input :photo, as: :file %>
        <%=f.input :name %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%=f.submit%>
      </div>
    </div>
  </div>
  <%end%>
</div>
