      <div id="img-show-ingredients">
        <%= cl_image_tag @puppie.photo.key, crop: :fill, class: "img-show" %>
      </div>

      <div id="description">
        <%=@puppie.name %> <br>
        <%=@puppie.age %> <br>
        <%=@puppie.breed %> <br>
        <%=@puppie.price %> <br>
        <%=@puppie.availability %> <br>
        <%=@puppie.location %> <br>
      </div>




