      <div id="img-show-puppie">

      <% if @puppie.photo.attached? %>
            <div class="image">
              <%= cl_image_tag @puppie.photo.key crop: :fill, class: "img-show" %>
            </div>
          <% else %>
            <div class="image">
              <%= cl_image_tag @puppie.photo.key crop: :fill, class: "img-show" %>
            </div>
          <% end %>

      </div>


      <div id="description">
         <p>Age: <%=@puppie.age %> <br></p>
         <p>Breed: <%=@puppie.breed %> <br></p>
         <p>Price: <%=@puppie.price %> <br></p>
         <p>Availability: <%=@puppie.availability %> <br></p>
         <p>Location: <%=@puppie.location %> <br></p>
      </div>


<!-- /puppies/4/book -->
<%= link_to 'Book this puppy', new_booking_path(@booking) %>



