      <%= render 'shared/navbar' %>

  <div class="container-show">



    <div class="card-trip-show">

      <div id="showpuppy">

        <% if @puppy.photo.attached? %>
            <div class="image" width="100%" height="86%">
              <%= cl_image_tag @puppy.photo.key,height: 400, width: 400, crop: :fill, class: "img-show" %>
            </div>
          <% else %>
            <div class="image">
            </div>
        <% end %>
      </div>

      <br><h2 id="name">Name: <%=@puppy.name %> <br>
      <%= render 'shared/booking' %></h2>


    </div>

    <div class="card-trip">
      <div id="descriptionpuppy">
         <h2 id="name">Name: <%=@puppy.name %> <br></h2>
         <p>Age: <%=@puppy.age %> <br></p>
         <p>Breed: <%=@puppy.breed %> <br></p>
         <p>Price: <%=@puppy.price %> € per Day<br></p>
         <p>Availability: <%=@puppy.availability %> <br></p>
         <p>Location: <%=@puppy.location %> <br></p>

      </div>
    </div>

    <div
  id="map"
  style="width:400px;
  height: 500px;
  margin-top: 20px;
  margin-right: 20px;"

  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>



  </div>









