<%= render 'shared/navbar' %>

<div
  id="map"
  class ="animated bounceInRight delay-15s"
  style="height: 300px;
  margin-top: 20px;
  border-radius: 10px"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>

<%= render  'shared/bookingnew' %>

<!-- <div class =" d-flex justify-content-center">
<%= render  'shared/walkingdog' %>
<h3 style="color: purple">Waf Waf !! Let's GO !!🐶</h3>
</div>
 -->

<div class="container-show-reviews" style="background-color: white; margin-top: 20px; border-radius: 6px; box-shadow: 0px 1px 1px lightgray; margin-bottom: 5px;">
  <div>
    <% @reviews.each do |review| %>
      <% if review.puppy_id == @puppy.id %>
        <div class="card-product review-card" style="box-shadow: 2px 2px 3px 2px lightgray; margin-right:20px;margin-left:20px; border-radius: 5px;">
          <div class="card-product-infos">
              <h2 style="color:purple; font-family:'Poppins';font-weight:bold;">Rating:</h2>
              <% review.rating.times do %>
                <i class="fas fa-heart"></i>
              <% end %>
              <% unheart = 5 - review.rating %>
              <% unheart.times do %>
                <i class="far fa-heart"></i>
              <% end %>
              <p class='review-content' style='font-size: 15px'>"<%= review.content %>"</p>
              <p class='review-user'>- <%= Faker::Name.first_name %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div>
  </div>
  <div >
    <div class='review-form' style="border-style: none; box-shadow: 2px 2px 3px 2px lightgray; border-radius: 10px; margin-right:15px; margin-bottom: 20px;">
      <h1 class='create-review' style="color:purple;">Add a new review for <%= @puppy.name %></h2>
      <%= simple_form_for [@review] do |f| %>
        <%= f.input :content, label: "Content", style: "color: purple" %>
        <%= f.input :rating, collection: [1, 2, 3, 4, 5] %>
        <%= f.hidden_field :puppy_id, collection: [@review.puppy_id] %>
        <%= f.submit "Rate #{@puppy.name} 🐶", class: "book-button"%>
      <% end %>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
