<%= render partial: 'shared/navbar' %>

<div class="globalcontainerhome">
  <%= render partial: 'shared/banner' %>


  <div class="h1">Heal yourself, book a <strong>puppy</strong> <br>
  <%= form_tag(puppies_path, :method => "get",
    class: 'navbar-form navbar-left') do %>
  <div class="input-group">
    <%= search_field_tag :search, params[:search], placeholder: "Search for the cutest puppy", class: "form-control" %>

      <%= button_tag "Search", :style => "background-color: #FF5A5F", :class => 'btn btn-primary glyphicon glyphicon-search',:name => nil%>

  </div>
<% end %>
  </div>

  </div>

<div class ="containerhome">

  <div class ="homepicture1">
    <%= image_tag("https://res.cloudinary.com/dnwnxu6xb/image/upload/v1582609530/CK5zurwKdUpRiy2o9G7fAtAY.jpg", class: "imagenewpuppyhome") %>
  </div>

  <div class ="text2">
    <h2><i class="fas fa-dog"></i>  Check the best puppies available in town</h2> <br>
    <h2><i class="fas fa-map-marked-alt"></i> Spot the closest puppy available </h2> <br>
    <h2><i class="fas fa-laugh-beam"></i> Make your kids happy </h2><br>
    <%= link_to "Book a puppy",puppies_path, class: "btn btn-danger" %>
  </div>


</div>



