<%= render partial: 'shared/navbar' %>







<%= render partial: 'shared/banner' %>





<div class ="containerhome">

  <div class ="homepicture1">
    <%= image_tag("https://res.cloudinary.com/dnwnxu6xb/image/upload/v1582609530/CK5zurwKdUpRiy2o9G7fAtAY.jpg", class: "imagenewpuppyhome") %>
  </div>

  <div class ="text2">
    <h2><i class="fas fa-dog"></i>  Check the best puppies available in town</h2> <br>
    <h2><i class="fas fa-map-marked-alt"></i> Spot the closest puppy available </h2> <br>
    <h2><i class="fas fa-laugh-beam"></i> Make your kids happy </h2><br>
    <%= link_to "Book a puppy",puppies_path, class: "btn btn-danger", style: "margin-bottom:100px;" %>




  </div>






</div>



<%= render 'shared/footer' %>



